.App {
  color: rgba(255, 255, 255, 1);
  font-family: "Source Sans Pro";
  box-sizing: content-box;
}

.container {
  min-height: 1200px;
  width: 100%;
  display: inline-flex;
  grid-template-columns: 1fr 3fr 1fr;
  background: rgba(0, 0, 0, 1);
  justify-content: center;

  transition: filter 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*-----------------*/

.rightSideBar {
  flex-basis: 350px;
  padding: 5px 32px;
  position: sticky;
  align-self: flex-start;
  top: 0;
}

form.searchForm {
  margin: 5px 0px;
  width: 100%;
  height: 90px;
}

.searchLabel {
  display: block;
  position: relative;
  border-radius: 999px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #202327;
}

.searchLabel::before {
  position: absolute;
  top: 17px;
  left: 22px;
  content: url(imgs/search.svg);
  /*height: 50px;
  width: 100%;*/
}

input.searchInput {
  position: absolute;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  width: 85%;
  left: 15%;
  top: 35%;
  outline: none;
}

input::focus {
  border: none;
}

.trendsContainer {
  color: #d9d9d9;
  background: #15181c;
  border-radius: 16px;
  padding: 11px;
}

.trendsHeader {
  height: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  display: inline-flex;

  align-items: center;
  justify-content: space-between;

  grid-template-areas: "header settings";

  border-bottom: 1px solid #6e767d;
  width: 100%;
}

.trendsHeaderText {
  min-width: 140px;
  width: 60%;
}

.trendSettings {
  background: rgba(29, 161, 242, 0.2);
  width: 38px;
  height: 38px;
  grid-area: settings;
  background-image: url(imgs/trendSettings.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.trends {
  display: inline-grid;
  grid-template-areas:
    "hashtag more"
    "population .";
  width: 100%;
  /*height: 90px;*/
  align-items: center;

  padding: 15px 5px;
  border-bottom: 1px solid #6e767d;
}

.hashtag {
  grid-area: hashtag;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.trendElipsis {
  justify-self: right;
  grid-area: more;

  width: 35px;
  height: 35px;
  background: rgba(47, 51, 54, 0.1);
  background-image: url(imgs/trendElipsis.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: #6e767d;
  font-size: 20px;
}

.trendPopulation {
  grid-area: population;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #6e767d;
}

.showMore {
  margin: 10px 16px;
  color: rgba(29, 161, 242, 1);
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/*-----------------*/

@media only screen and (max-width: 940px) {
  /*REDUCE TO MOBILE VIEW HERE*/
}
